@import "https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: #03045e;
  text-decoration: none;
}

a:hover {
  color: #f20089;
  text-decoration: underline;
}

body {
  background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
  font-family: 'Maven Pro', sans-serif;
}

footer {
  margin-top: 30px;
  padding: 20px;
}

footer > ul {
  display: flex;
  justify-content: flex-end;
}

footer > ul > li {
  padding: 0 10px;
}

footer > span {
  margin-top: 5px;
  display: flex;
  justify-content: flex-end;
  font-size: 0.9em;
  color: #444;
}


header {
  position: fixed;
  top: 0;
  min-height: 75px;
  padding: 0px 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #dfe9f3;
}

li {
  list-style: none;
}

nav {
  font-weight: 400;
}

nav > ul {
  width: 35vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}



.btn {
  padding: 0 20px;
  height: 40px;
  font-size: 1em;
  font-weight: 900;
  text-transform: uppercase;
  border: 3px black solid;
  border-radius: 2px;
  background: transparent;
  cursor: pointer;
}

.container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}

.fragance {
  margin-top: 30px;
  line-height: 1.5;
  color: #1d3557;
  margin: 10px;
  text-align: center;
}

.fragance .desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 125px;
  width: 80vw;
  padding: 5px;
}

.fragance #name {
  color: #1d3557;
  font-weight: 500;
  text-align: center;
}

.grid {
  display: flex;
}

.logo {
  width: 60vw;
}

.logo > img {
  width: 100%;
  height: 100%;
  max-width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: 20px;
}

.nav-link {
  color: #5f0f40;
  font-size: 1.2em;
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: calc(100%  / 3);
  margin: 10px;
  border: 1px solid #000;
  border-radius: 3px;
}

.product > .level {
  background-color: #457b9d;
  color: #fff;
  padding: 15px 0;
  width: 100%;
  text-transform: uppercase;
  font-weight: 700;
}

.product > h2 {
  margin-top: 15px;
}

.product > button {
  border: 0;
  margin: 15px 0;
  color: #fff;
  background-color: #457b9d;
  font-weight: 400;
}

.product > button:hover {
  background-color: #a8dadc;
  transition: background-color 1s;
}

.section-title {
  color: #5f0f40;
  margin: 10px;
  text-align: center;
}

#hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 600px;
  margin-top: 50px;
}

#hero #image {
  display: block;
  margin: 0 auto;
  width: 200px;
  max-width: 200px;
}

#hero #logo {
  margin-bottom: 20px;
  word-wrap: break-word;
  color: #1d3557;
}

#hero #main-title, #slogan {
  margin: 10px;
  padding: 10px;
}

#hero input[type="email"] {
  max-width: 275px;
  width: 100%;
  padding: 5px;
  margin: 15px;
}

#hero input[type="submit"] {
  max-width: 150px;
  width: 100%;
  height: 30px;
  margin: 15px 0;
  border: 0;
  background-color: #457b9d;
  color: #fff;
}

#hero input[type="submit"]:hover {
  background-color: #a8dadc;
  transition: background-color 1s;
}

#img-caption{
  color: #C1665E;
}

#fashion-show {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

#fashion-show > iframe {
  max-width: 560px;
  width: 100%;
}

#main{
  position: relative;
}

#main-title{
  color: #5f0f40;
  font-size: 3em;
}

#more-info {
  padding: 20px;
}

#pricing {
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@media (max-width: 600px) {
  header {
    flex-wrap: wrap;
  }
}

@media (max-width: 650px) {
  .logo {
    margin-top: 15px;
    width: 100%;
    position: relative;
  }
}

@media (max-width: 650px) {
  .logo > img {
    margin: 0 auto;
  }
}

@media (max-width: 650px) {
  nav {
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 50px;
  }
  nav li {
    padding-bottom: 5px;
  }
}

@media (max-width: 650px) {
  nav > ul {
    flex-direction: column;
  }
}

@media (max-width: 650px) {
  #hero {
    margin-top: 120px;
  }
}

@media (max-width: 550px) {
  .fragance .icon {
    display: none;
  }
}

@media (max-width: 550px) {
  .fragance .desc {
    width: 100%;
    text-align: center;
    padding: 0;
    height: 150px;
  }
}

@media (max-width: 650px) {
  #fragance {
    margin-top: 0;
  }
}

@media (max-width: 800px) {
  #pricing {
    flex-direction: column;
  }
  .product {
    max-width: 300px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 10px;
  }
}